.cart-container {
    min-height: 100vh;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.cart-header {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
    font-size: 1.7rem;
    font-weight: 700;
}

.middle-posiiton {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
}
.emptyCart-link:hover {
    text-decoration: none;
}

.emptyCart-title, .emptyCart-link-text {
    font-size: 1.7rem;

}

.emptyCart-link-text {
    color: #3498db;  
}
.emptyCart-link-text:hover {
    color: #34495e;
}

.cart-productImage {
    height: 120px;
}
.checkout-col {
    display: flex;
    justify-content: flex-end;
}

.dark-tableHead {
    background-color: #343a40!important;
    color: #fff;
    border-top: 1px solid #dee2e6;
}

.cart-productTitle {
    color: #007bff;
    font-size: 1rem;
    font-weight: 700;
}

.btn-cart {
    width: 35px;
    font-size: 1rem;
    font-weight: 700;
}