.homepage-container {
    display: grid;
    grid-template-areas: 
    'sidebar booklist rightspace';
    grid-gap: 10px;
    grid-template-columns: 1fr 3fr 1fr;
    padding-top: 15px;
}


.book-list-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    flex-wrap: wrap;
}

.book-container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-height: 400px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: #fff;

}
.book-container h2{
    text-align: center
}
.book-container img {
    max-width: 120px;
    height: 150px;
}