.homepage-container {
    display: grid;
    grid-template-areas: 
    'sidebar booklist';
    grid-gap: 10px;
    grid-template-columns: 1fr 5fr 1fr;
    
}

.product-list-wrapper {
    padding-top: 15px;
}
.product-row{
    margin-bottom: 10px;
}


.product-container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-height: 400px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 10px;
}
.product-container h2{
    text-align: center
}
.product-container img {
    max-width: 120px;
    height: 150px;
}

.product-title{
    font-size: 1.2rem;
}

.product-authors, .product-cover {
    font-size: 0.8rem;
}

.product-price {
    font-size: 1rem;
}
.product-pagination {
    padding: 0;
}

.productList-actions {
    
    align-content: space-between;
}


@media (max-width: 768px) {
	.homepage-container  {
	  grid-template-columns: auto auto;
	  grid-template-areas: 
		"sidebar booklist"
     }
}