
.header-wrapper {
    height: 56px;
    
}

.header-container {
    background-color:#343a40!important;
    width: 100%;
    display: block;
    position: fixed;
    z-index: 4;
    height: 56px;
    
}
@media (max-width: 768px) {
	.nav-container {
        padding: 0;
    }
}

.header-sidebar {
    max-height: 50vh;
    overflow: scroll;
}