.sidebar {
    position: relative;
   
    display: flex;
    justify-content: flex-start;
}

.hidden-radio {
    display: none;
}


.sidebar-wrapper {
    padding: 15px 10px;
    background-color: transparent;
    color: #FFF;
    background: transparent;
    box-sizing: border-box;
    position: relative;
    
}
.sidebar-container {
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 250px;
    top: 0;
    right: -190px;
    padding: 40px;
    background: rgba(52, 58, 64, 0.7);
    transition: 0.3s transform ease-in-out;
}

.sidebar-container-visible {
    transform: translateX(-250px); 
    
}

.sidebar-hidden {
    max-width: 50px;
}

.sidebar-active {
    max-width: 200px;
}


.sidebar-content {
    width: 100%;
}
.search-container {
    text-align: center;
    margin-bottom: 20px;
}
.sort-container, .filter-container {
    margin-bottom: 20px;
}

.sidebar-title {
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-top: 10px;
}
.sidebar-title:first-of-type {
    margin-top: 0;
}

.sidebar-hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.filter-bos {
    padding-top: 10px;
}

.filter-title {
    font-size: 1.1rem;
    color: #bdc3c7;
    text-decoration: underline;
}

.filter-form, .sort-form {
    display: flex;
    flex-direction: column;

}

.sidebar-list {
    list-style-type: none;
    padding: none;
}

.sidebar-list li input{
    visibility: hidden;
}

.sidebar-list li label{
    cursor: pointer;
}


.sidebar-list li input:hover:not(:checked) + label {
	color: #bdc3c7;
}

.sidebar-list input:checked {
    color: #3498db;
}

.sidebar-list li input:checked + label:before {
	content:'\2714';
    text-indent: .9em;
    color: #3498db;
}

/*Mobil Sidebar Styles*/

.sidebar-container-small {
    padding-top: 15px;
    position: relative;
}
.mobile-sidebar-container {
    flex-direction: column;  
    height: 100%;
    padding-top: 10px;
    transition: all 0.9s linear;
}

.mobile-sidebar-active {
    visibility: visible;
}

.mobile-sidebar-hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.hamburger {
    width: 40px;
    height: 35px;
    border: 0;
    border-top: 5px solid #fff;
    background: transparent;
    position: relative;
    transition: 0.2s transform linear;
    z-index: 1;
}

.hamburger::before, .hamburger::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 5px solid #fff;
    transform: translateY(10px)
}

.hamburger::after  {
    transform: translateY(25px);
    transition: 0.2s transform linear;
}

.hamburger:focus {
    transform: rotate(45deg) translateY(5px);
    outline: none;
    border: none;
}

.hamburger:focus::after {
    transform: rotate(-90deg) translateX(-10px);

}
.hamburger:hover {
    color: #bdc3c7;
}
@media (max-width: 768px) {
    .sidebar-container {
        box-sizing: border-box;
        position: absolute;
        height: 100%;
        width: 250px;
        top: 0;
        right: -190px;
        padding: 40px;
        background: rgba(52, 58, 64, 1);
        transition: 0.3s transform ease-in-out;
        z-index: 2;
    }

    .hamburger {
        z-index: 3;
    }
}